<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGI_IN PAGE</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <img class="image" src="./Images/backkk.jpg" alt="" />
    <p class="raees">Raees Ahmad</p>
    <a
      class="button"
      href="https://www.youtube.com/playlist?list=PLu0W_9lII9agS67Uits0UnJyrYiXhDS6q"
      >Java Playlist</a
    >
  </body>
</html>
