<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

    <title>Sign up</title>
    
</head>
<body>
    
  <div class="container mt-5">

    <div class="row">
      
        <div  class="col-sm-4">
        </div>
      
        <div class="col-sm-4" style="background-color:rgb(233 233 233); padding-left:50px; padding-right:70px; margin-left:20px; margin-right:80px; padding-bottom:20px; font-family: SourceSansPro-Regular, sans-serif;">
    
                
                <div class="tab-content">
                  <div id="signup">   
                    <h2 style="margin-top:80px;"> Sign Up for Free</h2><br>
                    
                    <form action="/" method="post">
                    
                    <div class="top-row">
                      <div class="field-wrap">
                        <label>
                          User Name<span class="req">*</span>
                        </label>
                        <input type="text" required autocomplete="off" />
                      </div>
                      <br>
                      <div class="field-wrap">
                        <label>
                          Full Name<span class="req">*&nbsp;&nbsp;</span>
                        </label>
                        <input type="text"required autocomplete="off"/>
                      </div>
                     </div>
                     <br>
          
                    <div class="field-wrap">
                            <label>
                                  Email<span class="req">*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </label>
                                <input type="email"required autocomplete="off"/>
                        </div>
                    <br>
                        <div class="field-wrap">
                      <label>
                     Password<span class="req">*&nbsp;&nbsp;&nbsp; </span>
                      </label>
                      <input type="password"required autocomplete="off"/>
                     </div>
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" class="button button-block" style="background-color:rgb(133, 0, 160); color:white;" >Sign UP</button><br>
                    
                        </form>
          <br>
                </div>
                  
                </div><!-- tab-content -->
                
              </div> <!-- /form -->
                 </div>
      
                     <div class="col-sm-4">
        </div>
                </div>
    </div>
</div>   
</body>
</html>