body{
    background-color: aqua;
}
.descp{
    background-color: azure;
    padding: 50px;
    border-radius: 100pt;
}
.button{
    padding: 10px;
    background-color:bisque;
    border-radius: 10px;
    text-decoration: none;

}
button:hover{
    background-color: blueviolet;
}